<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>About us</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css">
    <style>
        h1, h2 {
            font-family: Arial, sans-serif;
            color: black;
        }
    </style>
</head>
<body>
<div class="container">
    <header th:insert="~{blocks/header :: header}"></header>
    <main class="px-3">
        <h1 class="text-center" style="font-family: Arial, sans-serif; color: black;">ABOUT US</h1>
        <p class="lead" style="color: black;">This is the website-blog of Nurzhanova Zarina
            and her team. We are students of IT University
            of Astana in the program of software engineer, 1st year.
            On this site you can read
            interesting articles and learn many new things. I hope you enjoy it!!! In addition,
            on this site we will share our experience and knowledge of programming and IT to help other people
            interested in this field to develop and grow with us. We also look forward to hearing your feedback
            and suggestions to make this site even better and more useful for our readers.
            Thank you for choosing our site, and we hope you find a lot of interesting and useful content here.</p>
    </main>
</div>
</body>
</html>
